

body {
    padding: 15px;
    font-size: 15px;
    width: 800px;
    margin: 0 auto;
}

.single-book {
    display: inline-block;
    width: 98%;
}

@media (min-width: 700px) {
    .single-book {
        width: 45%;
    }
}

@media (min-width: 1300px) {
    .single-book {
        width: 25%;
    }
}

h1 {
    font-size: 2em;
    color: rgb(142,40,0);    
}

h2 {
    margin-bottom: 0px;
    font-size: 1.75em;
    color: rgb(182,73,38);
    border-bottom: 1px solid rgb(255,176,59);
}

h3 {
    font-size: 1.5em;
    color: rgb(70,137,102);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 137, 102);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255, 240, 165);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(255, 240, 165);
    color: rgb(70, 137, 102);;
}

footer {
    text-align: center;
    clear: both;
}

img {
    width: 30%;
}

form {
    font-size: 1.25em;
    padding-top: 7px;
}

form div {
    margin: 15px;
}

span {
    vertical-align: top;
    display: inline-block;
    color: rgb(142,40,0);
    width: 130px;
    font-weight: 700;
}

input, textarea {
    border: 1px solid rgb(142,40,0);
    padding: 7px;
    outline: none;
}

input:focus, textarea:focus {
    border: 1px solid rgb(255,176,59);
    padding: 7px;
    outline: none;
}

button {
    color: rgb(255,240,165);
    background-color: rgb(70,137,102);
    width: 25%;
    font-size: 1em;
    padding: 10px;
}

label {
    color:  rgb(142,40,0);;
}

section {
    clear: both;
}
